*{
  box-sizing: border-box;
}

.cal{
  width: 285px;
  margin: 100px auto;
  position: relative;
  font-weight: 500;
  font-size: large;
}

.input{
  width: 100%;
  height: 100px;
  background-color: #3A4655;
  color: white;
}

.ip{
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px; 
  color: lightgrey;
}
.op{
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;  
  padding-right: 15px;    
  font-size: xx-large;
}

.KeysContainer{
  background-color: #3A4655;
  display: flex;
  color: white;
  gap: 1.5px;
  flex-wrap: wrap;
}

.key{
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #425062;
}